{{extend 'layout.html'}}

{{if register and request.args(0)=='user':}}
Register as a User!
{{elif register and request.args(0)=='restaurants':}}
Register as a Restaurant Representative
{{pass}}

{{=form}}

{{if not register and request.args(0)=='user':}}
{{=A('Register as a User', _class='btn', _href=URL('default', 'login', args=[request.args(0),'register']))}}
{{elif not register and request.args(0)=='restaurant':}}
{{=A('Register as a Resturant Representative', _class='btn', _href=URL('default', 'login', args=[request.args(0),'register']))}}
{{pass}}
