{{extend 'layout.html'}}
<h1>Managing {{=name}}...</h1>
<p>{{=desc}}</p>
<table>
    <h3>Contact Info:</h3>
    <tr>
        <td>Phone Number:</td>
        <td>{{=phone}}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{=email}}</td>
    </tr>
</table>

{{if len(menu) == 0:}}
    <h4>Uh Oh! You haven't set up a menu for this restaurant yet.</h4>
{{else:}}
    <h3>Menu:</h3>
    {{cat = ""}}
    {{for i in range(0, len(menu)):}}
        {{if menu[i].category != cat:}}
            {{if menu[i].category == None and cat !=None:}}
                {{cat = None}}
                <h4><b>No Category</b></h4>
            {{pass}}
            {{if menu[i].category != None:}}
                {{cat = menu[i].category}}
                <h4><b>{{=cat}}</b></h4>
            {{pass}}
        {{pass}}

        <table>
        <tr>
            <td>{{=menu[i].dishName}}</td>
            <td>...</td>
            <td>{{=menu[i].price}}</td>
            <td>{{=A('Edit', _class='btn', _href=URL('default', 'editMenuItem', args=[restID, menu[i].id]))}}</td>
            <td>{{=A('Delete', _class='btn', _href=URL('default', 'deleteMenuItem', args=[menu[i].id, restID]))}}</td>
            {{if taggable(menu[i].id):}}
                <td>{{=A('Add Tag', _class='btn', _href=URL('default', 'tag', args=[menu[i].id, restID]))}}</td>
            {{pass}}
        </tr>
        {{tags = db(db.menuTags.menuID == menu[i].id).select()}}
        <tr>
            <td>
                <p>
                {{for i in range(0, len(tags)):}}
                    {{=tags[i].tag}},
                {{pass}}
                </p>
            </td>
        </tr>
    {{pass}}
    </table>
{{pass}}

{{=newMenuItemButton}}
<br>
{{=cancelButton}}
