{{extend 'layout.html'}}
<h1>Managing {{=name}}...</h1>
<h4><i>{{=cuisine}}</i> {{=A("Edit", _class='btn', _id="editCuisineButton")}} </h4>
<div id ="editCuisine">
    {{=editCuisineForm}}
    {{=A("Cancel Edit", _class='btn', _id="editCuisineCancel")}}
</div>

<p><i>Description:</i> {{=desc}}{{=A("Edit", _class='btn', _id="editDescButton")}}</p>
<div id ="editDesc">
    {{=editDescForm}}
    {{=A("Cancel Edit", _class='btn', _id="editDescCancel")}}
</div>


    <table>
        <h3>Address:{{=A("Edit", _class='btn', _id="editAddressButton")}}</h3>
        {{#if coordX is None or coordY is None:}} <!--
        <h4 style='color:red'>We couldn't confirm your address!</h4>
        <b style='color:red'>You can fix this by updating your address listing. Until you do, this restaurant will not appear on our service!</b>
        {{#pass}} -->
        <tr>
            <td>{{=address.streetAddress if address is not None else ''}}</td>
        </tr>
        <tr>
            <td>
                {{=address.city if address is not None else ''}}, {{=address.usState if address is not None else ''}} {{=address.zipCode if address is not None else ''}}
            </td>
        </tr>
    </table>
<div id = "editAddress">
    {{=editAddressForm}}
    {{=A("Cancel Edit", _class='btn', _id="editAddressCancel")}}
</div>
    <table>
        <h3>Hours:{{=A("Add", _class='btn', _id="addHoursButton")}}</h3>
        <tr>
            <td>Sunday: </td>
            <td>{{if len(sun) == 0:}}
                    Closed
                {{else:}}
                    {{for i in range(0, len(sun)):}}
                        {{row = sun[i]}}
                        {{=row.openAtHour}}:{{=row.openAtMinute}}-{{=row.closedAtHour}}:{{=row.closedAtMinute}}
                        {{=A('Remove Hours', _href=URL('default', 'removehours', args=[row.id, request.args(0)]))}}
                        <br>
                    {{pass}}
                {{pass}}
            </td>
        </tr>
        <p>
        <tr>
            <td>Monday: </td>
            <td>{{if len(mon) == 0:}}
                    Closed
                {{else:}}
                    {{for i in range(0, len(mon)):}}
                        {{row = mon[i]}}
                        {{=row.openAtHour}}:{{=row.openAtMinute}}-{{=row.closedAtHour}}:{{=row.closedAtMinute}}
                        {{=A('Remove Hours', _href=URL('default', 'removehours', args=[row.id, request.args(0)]))}}
                        <br>
                    {{pass}}
                {{pass}}
            </td>
        </tr>
        </p>
        <p>
        <tr>
            <td>Tuesday: </td>
            <td>{{if len(tue) == 0:}}
                    Closed
                {{else:}}
                    {{for i in range(0, len(tue)):}}
                        {{row = tue[i]}}
                        {{=row.openAtHour}}:{{=row.openAtMinute}}-{{=row.closedAtHour}}:{{=row.closedAtMinute}}
                        {{=A('Remove Hours', _href=URL('default', 'removehours', args=[row.id, request.args(0)]))}}
                        <br>
                    {{pass}}
                {{pass}}
            </td>
        </tr>
        <p>
        <tr>
            <td>Wednesday: </td>
            <td>{{if len(wed) == 0:}}
                    Closed
                {{else:}}
                    {{for i in range(0, len(wed)):}}
                        {{row = wed[i]}}
                        {{=row.openAtHour}}:{{=row.openAtMinute}}-{{=row.closedAtHour}}:{{=row.closedAtMinute}}
                        {{=A('Remove Hours', _href=URL('default', 'removehours', args=[row.id, request.args(0)]))}}
                        <br>
                    {{pass}}
                {{pass}}
                </td>
        </tr>
        <p>
        <tr>
            <td>Thursday: </td>
            <td>{{if len(thu) == 0:}}
                    Closed
                {{else:}}
                    {{for i in range(0, len(thu)):}}
                        {{row = thu[i]}}
                        {{=row.openAtHour}}:{{=row.openAtMinute}}-{{=row.closedAtHour}}:{{=row.closedAtMinute}}
                        {{=A('Remove Hours', _href=URL('default', 'removehours', args=[row.id, request.args(0)]))}}
                        <br>
                    {{pass}}
                {{pass}}
            </td>
        </tr>
        </p>
        <p>
        <tr>
            <td>Friday: </td>
            <td>{{if len(fri) == 0:}}
                    Closed
                {{else:}}
                    {{for i in range(0, len(fri)):}}
                        {{row = fri[i]}}
                        {{=row.openAtHour}}:{{=row.openAtMinute}}-{{=row.closedAtHour}}:{{=row.closedAtMinute}}
                        {{=A('Remove Hours', _href=URL('default', 'removehours', args=[row.id, request.args(0)]))}}
                        <br>
                    {{pass}}
                {{pass}}
            </td>
        </tr>
        <p>
        <tr>
            <td>Saturday: </td>
            <td>{{if len(sat) == 0:}}
                    Closed
                {{else:}}
                    {{for i in range(0, len(sat)):}}
                        {{row = sat[i]}}
                        {{=row.openAtHour}}:{{=row.openAtMinute}}-{{=row.closedAtHour}}:{{=row.closedAtMinute}}
                        {{=A('Remove Hours', _href=URL('default', 'removehours', args=[row.id, request.args(0)]))}}
                        <br>
                    {{pass}}
                {{pass}}
            </td>
        </tr>
</table>
        <div id="addHours">
            {{=addHoursForm}}
            {{=A("Cancel Edit", _class='btn', _id="addHoursCancel")}}
        </div>
<table>
    <h3>Contact Info:{{=A("Edit", _class='btn', _id="editContactButton")}}</h3>

    <tr>
        <td><i>Phone Number: </i></td>
        <td>{{=phone}}</td>
    </tr>
    <tr>
        <td><i>Email:</i></td>
        <td>{{=email}}</td>
    </tr>
</table>
<div id ="editContact">
    {{=editContactForm}}
    {{=A("Cancel Edit", _class='btn', _id="editContactCancel")}}
</div>

{{if len(menu) == 0:}}
    <h4>Uh Oh! You haven't set up a menu for this restaurant yet.</h4>
{{else:}}
    <h3>Menu:</h3>
    {{cat = ""}}
    {{for i in range(0, len(menu)):}}
        {{if menu[i].category != cat:}}
            {{if menu[i].category == None and cat !=None:}}
                {{cat = None}}
                <h4><b>No Category</b></h4>
            {{pass}}
            {{if menu[i].category != None:}}
                {{cat = menu[i].category}}
                <h4><b>{{=cat}}</b></h4>
            {{pass}}
        {{pass}}

    <table>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th></th>
            <th>Price</th>
        </tr>
        <tr>
            <td>
                {{if menu[i].image is not '':}}
                <img src="{{=URL('download',args=menu[i].image)}}" style="height:100px; width:100px;"/>
                {{pass}}
            </td>
            <td>{{=menu[i].dishName}}</td>
            <td>...</td>
            <td>{{='$' + "%0.2f" % float(menu[i].price)}}</td> <!-- This looks weird, but it makes price display with two decimal points -->
            <td>{{=A('Edit', _class='btn', _href=URL('default', 'editMenuItem', args=[restID, menu[i].id]))}}</td>
            <td>{{=A('Delete', _class='btn', _href=URL('default', 'deleteMenuItem', args=[menu[i].id, restID]))}}</td>
        </tr>
    </table>
    {{tags = db(db.menuTags.menuID == menu[i].id).select()}}
    <p>
    {{for n in range(0, len(tags)):}}
        {{=tags[n].tag}}{{=A('X', _href=URL('default', 'removetag', args=[tags[n].id, request.args(0)]))}}{{=',' if n != len(tags)-1 else ''}}
    {{pass}}
    </p>
    {{if taggable(menu[i].id):}}
    <p>
    {{=tagForms[i]}}
    </p>
    {{pass}}
    {{pass}}
{{pass}}

{{=A("Create New Menu Item", _class='btn', _id="menuItemButton")}}
<div id="menuItemForm">
    {{=menuItemForm}}
    {{=A("Cancel", _class='btn', _id="menuItemCancel")}}
</div>
<br>
{{=cancelButton}}

<script>
    jQuery("#editDesc").hide();
    jQuery("#editDescCancel").click(function(){
        $("#editDesc").fadeOut();
    });
    jQuery("#editDescButton").click(function(){
        $("#editDesc").fadeIn();
    });
    
    jQuery("#editCuisine").hide();
    jQuery("#editCuisineCancel").click(function(){
        $("#editCuisine").fadeOut();
    });
    jQuery("#editCuisineButton").click(function(){
        $("#editCuisine").fadeIn();
    });

    jQuery("#addHours").hide();
    jQuery("#addHoursCancel").click(function(){
        $("#addHours").fadeOut();
    });
    jQuery("#addHoursButton").click(function(){
        $("#addHours").fadeIn();
    });

    jQuery("#editContact").hide();
    jQuery("#editContactCancel").click(function(){
        $("#editContact").fadeOut();
    });
    jQuery("#editContactButton").click(function(){
        $("#editContact").fadeIn();
    });

    jQuery("#editAddress").hide();
    jQuery("#editAddressButton").click(function(){
        $("#editAddress").fadeIn();
    });
    jQuery("#editAddressCancel").click(function(){
        $("#editAddress").fadeOut();
    });

    jQuery("#menuItemForm").hide();
    jQuery("#menuItemButton").click(function(){
        $("#menuItemForm").fadeIn();
        $("#menuItemButton").fadeOut();
    });
    jQuery("#menuItemCancel").click(function(){
        $("#menuItemForm").fadeOut();
        $("#menuItemButton").fadeIn();
    });
</script>
