{{extend 'layout.html'}}
<h1>Managing {{=name}}...</h1>
<p>{{=desc}}{{=A("Edit", _class='btn', _id="editDescButton")}}</p>
<div id ="editDesc">
    {{=editDescForm}}
    {{=A("Cancel Edit", _class='btn', _id="editDescCancel")}}
</div>
<table>
    <h3>Contact Info:{{=A("Edit", _class='btn', _id="editContactButton")}}</h3>

    <tr>
        <td>Phone Number:</td>
        <td>{{=phone}}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{=email}}</td>
    </tr>
</table>
<div id ="editContact">
    {{=editContactForm}}
    {{=A("Cancel Edit", _class='btn', _id="editContactCancel")}}
</div>

{{if len(menu) == 0:}}
    <h4>Uh Oh! You haven't set up a menu for this restaurant yet.</h4>
{{else:}}
    <h3>Menu:</h3>
    {{cat = ""}}
    {{for i in range(0, len(menu)):}}
        {{if menu[i].category != cat:}}
            {{if menu[i].category == None and cat !=None:}}
                {{cat = None}}
                <h4><b>No Category</b></h4>
            {{pass}}
            {{if menu[i].category != None:}}
                {{cat = menu[i].category}}
                <h4><b>{{=cat}}</b></h4>
            {{pass}}
        {{pass}}

        <table>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th></th>
            <th>Price</th>
        </tr>
        <tr>
            <td><img src="{{=URL('download',args=menu[i].image)}}" style="height:100px; width:100px;"/></td>
            <td>{{=menu[i].dishName}}</td>
            <td>...</td>
            <td>{{=menu[i].price}}</td>
            <td>{{=A('Edit', _class='btn', _href=URL('default', 'editMenuItem', args=[restID, menu[i].id]))}}</td>
            <td>{{=A('Delete', _class='btn', _href=URL('default', 'deleteMenuItem', args=[menu[i].id, restID]))}}</td>
            {{if taggable(menu[i].id):}}
                <td>{{=A('Add Tag', _class='btn', _href=URL('default', 'tag', args=[menu[i].id, restID]))}}</td>
            {{pass}}
        </tr>
        {{tags = db(db.menuTags.menuID == menu[i].id).select()}}
        <tr>
            <td>
                <p>
                {{for n in range(0, len(tags)):}}
                    {{=tags[n].tag}},
                {{pass}}
                </p>
            </td>
            <td>
                {{if taggable(menu[i].id):}}
                <p>
                    {{=tagForms[i]}}
                </p>
                {{pass}}
            </td>
        </tr>
    {{pass}}
    </table>
{{pass}}

{{=newMenuItemButton}}
<br>
{{=cancelButton}}

<script>
    jQuery("#editDesc").hide();
    jQuery("#editDescCancel").click(function(){
        $("#editDesc").fadeOut();
    });
    jQuery("#editDescButton").click(function(){
        $("#editDesc").fadeIn();
    });

    jQuery("#editContact").hide();
    jQuery("#editContactCancel").click(function(){
        $("#editContact").fadeOut();
    });
    jQuery("#editContactButton").click(function(){
        $("#editContact").fadeIn();
    });
</script>
