{{extend 'layout.html'}}
<h1>Ordering from {{=name}}</h1>
<h3>Menu:</h3>
{{cat = ""}}
{{for i in range(0, len(menu)):}}
    {{if menu[i].category != cat:}}
        {{if menu[i].category == None and cat !=None:}}
            {{cat = None}}
            <h4><b>No Category</b></h4>
        {{pass}}
        {{if menu[i].category != None:}}
            {{cat = menu[i].category}}
            <h4><b>{{=cat}}</b></h4>
        {{pass}}
    {{pass}}
<table>
    <tr>
        <th>Name</th>
        <th></th>
        <th>Price</th>
        <th></th>
        <th>Description</th>
    <tr>
        <td>{{=menu[i].dishName}}</td>
        <td>.....</td>
        <td>${{=menu[i].price}}</td>
        <td>.....</td>
        <td><i>{{=menu[i].description}}</i></td>
        <td>{{=A('Add to Order', _href=URL('default', 'addToOrder', args=[ request.args(0),request.args(1),menu[i].id]))}}</td>
    </tr>
    {{pass}}
</table>
    
<h3>Your Order:</h3>
<table>
    <tr>
        <th>Item</th>
        <th>     </th>
        <th>Price</th>
        <th>     </th>
        <th>Delete?</th>
    </tr>
    <tr>
    {{for i in range(0,len(cart)):}}
        {{dish = db(db.menuItems.id == cart[i].menuID).select().first()}}
        <td>{{=dish.dishName}}</td>
        <td></td>
        <td>${{=dish.price}}</td>
        <td></td>
        <td>{{=A('Delete', _href=URL('default', 'deleteFromOrder', args=[ request.args(0),request.args(1),cart[i].id]))}}</td>
    </tr>
    {{pass}}
</table>
<p><b>SubTotal(before tax):</b> ${{=subtotal}} </p>

<h3>{{=A('Confirm Order', _href=URL('default', 'confirmOrder', args=[request.args(1),request.args(0)]))}}</h3>

{{=backButton}}
