{{extend 'layout.html'}}
<h1>{{=name}}</h1>
<h4><i>{{=cuisine}}</i></h4>


<p>{{#=desc}}</p>
<table>
    <h3>Contact Info:</h3>
    <tr>
        <td>Phone Number:</td>
        <td>{{=phone}}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{=email}}</td>
    </tr>
</table>

{{if len(menu) == 0:}}
    <h3>Uh Oh! This restaurant does not have a menu yet.</h3>
{{else:}}
    {{cat = ""}}
    <h3>Menu:</h3>
    {{for i in range(0, len(menu)):}}
        {{if menu[i].category != cat:}}
            {{if menu[i].category == None and cat !=None:}}
                {{cat = None}}
                <h4><b>No Category</b></h4>
            {{pass}}
            {{if menu[i].category != None:}}
                {{cat = menu[i].category}}
                <h4><b>{{=cat}}</b></h4>
            {{pass}}
        {{pass}}
<table>
        <tr>
            <td>{{=menu[i].dishName}}</td>
            <td>.....</td>
            <td><b>     ${{=menu[i].price}}</b></td>
            <td>.....</td>
            <td>    <i>Description: </i>{{=menu[i].description}}</td>

            
            
        </tr>
    {{pass}}
    </table>
{{pass}}

<br>
{{=cancelButton}}
