{{extend 'layout.html'}}
<h1>Welcome, {{=ownerName}}</h1>

{{if len(ownedRestaurants) == 0:}}
    <p>You don't currently own any restaurants</p>
{{else:}}
    <h4>Restaurants You Own:</h2>
    <table>
    {{for i in range(0, len(ownedRestaurants)):}}
        <tr>
            <td>{{=ownedRestaurants[i].restaurantName}}</td>
            <td>{{=A('Manage', _class='btn', _href=URL('default', 'manage', args = [ownedRestaurants[i].id]))}}</td>
            <td>{{=A('Disown', _class='btn', _href=URL('default', 'deleteRest', args = [ownedRestaurants[i].id]))}}</td>
        </tr>
    {{pass}}
    </table>
{{pass}}
{{=addRestaurantButton}}
