<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Feedr, the app to help you find the food that you didn't know you wanted to eat.">
    <meta name="keywords" content="Feedr, food, UCSC, Santa Cruz, CMPS 183">
    <meta name="author" content="Brandon Rullamas, Enrica Beltran, Sam Reha">
    <link rel="icon" href="../static/images/cutlery.png">

    <title>Feedr</title>

    <!-- Bootstrap core CSS -->
    {{
	response.files.insert(0,URL('static','css/bootstrap.min.css'))
	response.files.insert(1,URL('static','css/bootstrap-responsive.min.css'))
	response.files.insert(2,URL('static','css/cover.css'))
	}}

	{{include 'web2py_ajax.html'}}

	{{
	# using sidebars need to know what sidebar you want to use
	left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
	right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
	middle_columns = {0:'span12',1:'span9',2:'span6'}[
		(left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
	}}

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="maincss.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container" style="width:100%; padding-left:0px; padding-right:0px">

        <nav class="navbar navbar-inverse navbar-static-top" style="margin-bottom:0px">
          <div class="container" style="width: 100%; padding-left:100px">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Feeder</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Filters</a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Third action</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
		  <img src="../static/images/photo1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
			  <!--photo-->
			  <!--title-->
              <h1>Example 1</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/images/photo2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
			  <!--photo-->
              <h1>Example 2</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/images/photo3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
			  <!--photo-->
              <h1>Example 3</h1>
            </div>
          </div>
        </div>
		<div class="item">
          <img src="../static/images/photo4.jpg" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
			  <!--photo-->
              <h1>Example 4</h1>
            </div>
          </div>
        </div>
		<div class="item">
          <img src="../static/images/photo5.jpg" alt="Fifth slide">
          <div class="container">
            <div class="carousel-caption">
			  <!--photo-->
              <h1>Example 5</h1>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

   <div class="container marketing">

      <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Title of food here <!--title--></h2>
          <p class="lead">Description here. <!--description--></p>
        </div>
		<div class="col-md-5">
		  <p style="padding-top:25px"><a class="btn btn-lg btn-primary" href="#" role="button">View Restaurant Page</a></p>
		</div>
      </div>

      <hr class="featurette-divider">
	  
	  <div class="row featurette">
        <div class="col-md-12">
          {{include}}
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Feedr</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
